@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "General Sans", sans-serif;
    @apply text-xl text-black w-full;
  }
  nav {
    @apply text-white;
  }
  p {
    @apply my-2;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-medium;
  }
  nav a:hover {
    @apply underline;
  }
  h1 {
    @apply leading-normal my-5 md:text-6xl text-4xl font-medium;
  }
  h5 {
    @apply my-5 text-2xl font-medium;
  }
}
@layer components {
  /*Layout*/
  .col-md-2 {
    @apply grid-cols-1 md:grid-cols-2;
  }
  .col-md-3 {
    @apply grid-cols-1 md:grid-cols-3;
  }
  .col-md-4 {
    @apply grid-cols-1 md:grid-cols-4;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .grid-center {
    @apply grid justify-items-center items-center;
  }
  .main-container {
    @apply max-w-6xl mx-auto px-8;
  }
  .bg-image-cover {
    @apply bg-cover bg-no-repeat bg-scroll;
  }
  .section-heading {
    @apply leading-snug my-5 md:text-6xl text-4xl font-medium;
  }
  /* Scrolling */
  .js-scroll {
    @apply opacity-0 transition-opacity duration-500;
  }
  .js-scroll.scrolled {
    @apply opacity-100;
  }
  .scrolled.fade-in-bottom {
    @apply animate-fade-in-bottom;
  }
  /* Page components */
  .navbar {
    width: calc(100% - 4rem);
    /* top-32 */
    @apply absolute top-full  left-0 mx-8
    flex flex-col bg-white text-black rounded-xl
    md:flex-row md:justify-between md:static md:bg-transparent
    md:text-white;
  }
  .navbar a {
    @apply p-5;
  }
  .slider-item {
    @apply transition-transform duration-500 ease-in;
    /* transform: translateX(0px); opacity: 1; transition: transform 500ms ease 0s; */
  }
  .img-btns {
    @apply cursor-pointer;
  }
  .featured-container {
    @apply bg-white h-32 rounded-xl flex justify-center items-center w-full hover:drop-shadow-lg;
  }
  .featured-container img {
    @apply h-12;
  }
  .faq-container p {
    @apply text-gray-text;
  }
  .chapter-list {
    @apply text-2xl font-medium grid gap-y-6 my-8;
  }
  .chapter-list li {
    @apply flex items-center gap-x-5;
  }
  .chapter-list li span {
    @apply font-medium;
  }
  .pricing-card {
    @apply bg-white p-10 text-center rounded-xl;
  }
  .pricing-card p {
    @apply text-gray-text;
  }
  .pricing-card h2 {
    @apply text-7xl my-5;
  }
  .pricing-card ul {
    @apply mt-12 flex flex-col justify-center items-center gap-y-5;
  }
  .pricing-card li {
    @apply bg-pricing-check-image bg-no-repeat pl-11;
  }
  /* Buttons */
  .button {
    @apply inline-block py-4 px-16 text-lg font-medium rounded-full;
  }
  .button-small {
    @apply py-3 px-7;
  }
  .button-primary {
    @apply bg-white text-black;
  }
  .button-primary:hover {
    @apply bg-gray-hover;
  }
  .button-secondary {
    @apply bg-black text-white;
  }
  .button-secondary:hover {
    @apply bg-hover-black;
  }
}
